body {
  margin: 0%;
  padding: 0%;
}

#galerie {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-evenly;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0%;
}

.card-img-top {
  width: 100%; /* Assure que l'image prend toute la largeur de la carte */
  height: 400px; /* Définit une hauteur fixe pour toutes les images */
  object-fit: cover; /* Ajuste l'image pour remplir l'espace défini */
}
#title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: center;
  align-items: normal;
}

#current {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/*#product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  margin: 0%;
  padding: 0%;
  width: 714px;
  height: 1070px;
}
#info {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-end;
  position: absolute;
  width: 50%;
  margin: 0%;
  padding: 0%;
}
.carousel-item {
  transition: none !important;
}
input:focus {
  outline-color: rosybrown !important;
}
#mainpicture {
  width: 460px;
  height: 690px;
} $/
